{% load staticfiles %}
<div class="container pt-5 pb-4" id="about">
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="mb-4">Почему УГТУ — это правильный выбор?</h1>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <h5 class="text-muted">УГТУ&nbsp;— один из&nbsp;крупнейших многопрофильных технических вузов на&nbsp;Европейском
                Севере России, вуз-партнер крупнейших компаний нефтегазового комплекса России, опорный вуз ПАО «Газпром».</h5>
        </div>
    </div>
    <div class="row mb-n5">
        <div class="col-11 col-sm-11 col-md-9 col-lg-7 col-xl-7  order-2 order-md-2 order-lg-1 order-xl-1">
            <div id="carousel1" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel1" data-slide-to="1"></li>
                    <li data-target="#carousel1" data-slide-to="2"></li>
                    <li data-target="#carousel1" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container px-0">
                            <img src="{% static 'img/about/401б.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-0">
                            <img src="{% static 'img/about/SUG9txOx_p0.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-0">
                            <img src="{% static 'img/about/76epWjxdSqA.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-0">
                            <img src="{% static 'img/about/SSN_6216.jpg' %}" class="d-block w-100 img-fluid"
                                 alt="...">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5  order-1 order-md-1 order-lg-2 order-xl-2">
            <h3 class="mb-3">В&nbsp;УГТУ созданы все условия для получения качественного образования</h3>
            <p class="mb-4">В&nbsp;состав университета входят три факультета (нефтегазовый, технологический, факультет экономики, управления и&nbsp;информационных технологий), Индустриальный институт (среднего профессионального образования), Институт дополнительного профессионального образования и&nbsp;обучения, филиалы в&nbsp;городах Воркуте и&nbsp;Усинске.</p>
        </div>
    </div>
    <div class="row mt-n5 mb-5">
        <div class="col-11 col-sm-11 col-md-9 col-lg-8 col-xl-8  order-2 order-md-1 order-lg-2 order-xl-2  ml-auto">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleFade" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleFade" data-slide-to="1"></li>
                    <li data-target="#carouselExampleFade" data-slide-to="2"></li>
                    <li data-target="#carouselExampleFade" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container px-0">
                            <img src="{% static 'img/about/SSN_6185.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-0">
                            <img src="{% static 'img/about/SSN_0798.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-0">
                            <img src="{% static 'img/about/IBv5g7pU4DI.jpg' %}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container px-0">
                            <img src="{% static 'img/about/san2089.jpg' %}" class="d-block w-100 img-fluid"
                                 alt="...">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4  order-3 order-md-2 order-lg-1 order-xl-1">
            <div class="pt-4 pt-lg-4 pt-xl-4"><p class="mt-lg-5 mt-xl-5">УГТУ&nbsp;— это превосходная аудиторно-лабораторная база. Учебные и&nbsp;научные лаборатории оснащены самым современным оборудованием, создан целый комплекс компьютерных классов.</p>
                <p>Университет располагает учебно-геодезической базой, учебно-опытным нефтяным промыслом, учебно-опытным лесхозом. На&nbsp;базе университета действует уникальный нефтегазовый учебно-практический полигон.</p>
                <p>Университет&nbsp;— это одиннадцать учебно-лабораторных корпусов, бизнес-инкубатор, десять общежитий, спортивный комплекс, плавательный бассейн.</p></div>
        </div>
    </div>
</div>

<div class="gaznight d-none d-xl-block">
    <div class="container py-5">
        <!--<div class="row">
            <div class="col"></div>
            <div class="col-11 col-sm-11 col-md-9 col-lg-8 col-xl-8  align-self-end">
                <h3 class="mb-5">Наши выпускники востребованы на&nbsp;рынке труда</h3>
            </div>
        </div>-->
        <div class="row">
            <div class="col"></div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
                <p style="color: #e4e6ff;">Преимущество УГТУ&nbsp;— расположенная в&nbsp;непосредственной близости от&nbsp;университета
                    производственная база. Студенты проходят практику на&nbsp;крупнейших предприятиях региона с&nbsp;реальной
                    перспективой дальнейшего трудоустройства.</p>
                <p style="color: #e4e6ff;">В&nbsp;университете регулярно проходят «Ярмарки вакансий» ведущих предприятий региона.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-4" style="color: #6f77bb; text-align: center">
                <h5>За&nbsp;свою историю университет подготовил</h5>
                <h1 style="font-size: 100px; padding: 0; margin-bottom: 15px; line-height: 78px;">более </br> 85
                    000</h1>
                <h5 class="mb-0">специалистов для нефтегазовой, геологической, строительной, лесной отраслей
                    промышленности</h5>
            </div>
        </div>
    </div>
</div>

<div class="gaznight_mobile d-xl-none">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 pb-3">
                <p>Преимущество УГТУ&nbsp;— расположенная в&nbsp;непосредственной близости от&nbsp;университета
                    производственная база. Студенты проходят практику на&nbsp;крупнейших предприятиях региона с&nbsp;реальной
                    перспективой дальнейшего трудоустройства.</p>
                <p>В&nbsp;университете регулярно проходят «Ярмарки вакансий» ведущих предприятий региона.</p>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="color: #6f77bb; text-align: center">
                <h5>За&nbsp;свою историю университет подготовил</h5>
                <h1 style="font-size: 100px; padding: 0; margin-bottom: 15px; line-height: 78px;">более </br> 85
                    000</h1>
                <h5 class="mb-0">специалистов для нефтегазовой, геологической, строительной, лесной отраслей
                    промышленности</h5>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 pb-4" id="about">
    <div class="row mb-4">
        <div class="col-12">
            <h3>УГТУ обеспечивает социальные гарантии студентам</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
            <div class="p-3 border mb-4">Сегодня в&nbsp;УГТУ на&nbsp;ступенях высшего, среднего профессионального
                и&nbsp;начального профессионального образования учатся около 7500&nbsp;человек.
            </div>
            <div class="p-3 border">В&nbsp;университете действует профсоюзная организация, члены которой
                получают дополнительные социальные льготы и&nbsp;преимущества.
            </div>
        </div>


        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
            <div class="p-3 border  mb-4">В&nbsp;университете приемлемая стоимость обучения на&nbsp;внебюджете (от 37000₽ в&nbsp;год&nbsp;— среднее профессиональное образование, от 60000₽ в&nbsp;год&nbsp;— высшее образование).</div>
            <div class="p-3 border">Университет создает доступную среду для студентов с&nbsp;ограниченными
                возможностями здоровья.
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
            <div class="p-3 border  mb-4">Социально незащищенные категории студентов получают все меры поддержки,
                предусмотренные законодательством, и&nbsp;дополнительные, обеспеченные Коллективным договором УГТУ.
            </div>

            <div class="border font-weight-bold say_army_no">
                <div class="p-3" style="background-color: rgba(255, 255, 255, 0.5);">Студенты УГТУ получают </br> отсрочку от&nbsp;службы в&nbsp;армии.</div>
            </div>
        </div>
    </div>
</div>

{% comment %}{% include 'blocks/whyus.html' %}{% endcomment %}

<div class="sport_bg">
    <div style="background-color: rgba(0, 0, 0, 0.7);">
        <div class="container pt-5 pb-5 text-white">
            <div class="row mb-5">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex flex-column justify-content-start">
                    <h3 class="mb-4">УГТУ – центр развития культуры и спорта</h3>
                    <p>Ухтинский университет славен своими спортивными традициями. За&nbsp;время
                        работы вуза здесь
                        подготовлено более ста мастеров спорта, в&nbsp;том числе мастера спорта международного
                        класса,
                        чемпионы России, Европы, мира, участники и&nbsp;призеры Олимпийских игр. </p>
                    <p class="mb-4">В&nbsp;УГТУ действуют спортивные секции более чем по&nbsp;<nobr>30-ти</nobr>
                        видам спорта. Университет&nbsp;— организатор и&nbsp;участник множества спортивных
                        соревнований.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex flex-column justify-content-start align-items-center">
                    <img class="mb-4 mw-100" src="{% static 'img/sport/planeta-university.png' %}">
                    <h5 class="text-center" style="color: #8eb3df;">Баскетбольная команда УГТУ «Планета Университет»&nbsp;—
                        член Ассоциации студенческого
                        баскетбола и&nbsp;Международной студенческой баскетбольной лиги.</h5>
                </div>
            </div>

            <div class="row pt-lg-5 pt-xl-5">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                    <p class="text-uppercase mb-0"
                       style="letter-spacing: 2px; font-size: small; color: rgba(255, 255, 255, 0.7);">Танцевальный
                        коллектив</p>
                    <h4 class="mb-2" style="font-family: 'Roboto Slab'">«Юнайтед Бит»</h4>
                    <p>чемпион России и&nbsp;мира, обладатель Кубка мира по&nbsp;стрит-шоу, член сборной
                        России по&nbsp;хип-хопу.</p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                    <p class="text-uppercase mb-0"
                       style="letter-spacing: 2px; font-size: small; color: rgba(255, 255, 255, 0.7);">
                        Танцевально-спортивный клуб</p>
                    <h4 class="mb-2" style="font-family: 'Roboto Slab'">«Дуэт»</h4>
                    <p>чемпион Республики Коми и&nbsp;Северо-Запада России, призер российских соревнований.</p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
                    <p class="text-uppercase mb-0"
                       style="letter-spacing: 2px; font-size: small; color: rgba(255, 255, 255, 0.7);">Театр-студия</p>
                    <h4 class="mb-2" style="font-family: 'Roboto Slab'">«Фрески»</h4>
                    <p>лауреат всероссийских конкурсов театрального искусства.</p>
                </div>
                <div class="col-12">
                    <p>Вокально-хоровая студия, студенческая творческая мастерская и&nbsp;еще многое-многое другое&nbsp;—
                        всё это ожидает вас в&nbsp;УГТУ!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="international_bg">
    <div style="background-color: rgba(255,255,255,0.85);">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
                    <h3 class="mb-4">УГТУ&nbsp;— субъект международного сотрудничества</h3>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-2 order-sm-2 order-md-2 order-lg-1 order-xl-1">
                    <h5 class="mb-4">УГТУ привлекателен для иностранной молодежи, он&nbsp;стал крупным центром
                        подготовки специалистов для ближнего и&nbsp;дальнего зарубежья.</h5>
                    <h1 style="font-size: 65px; padding: 0; margin-bottom: 15px; line-height: 46px; color: #1e6bbd;">
                        Около 400 </br>
                        студентов</h1>
                    <h1 class="text-right"
                        style="font-size: 100px; padding: 0; margin-bottom: 15px; line-height: 78px; color: #1e6bbd;">из&nbsp;30 </br>
                        стран мира</h1>
                    <h5 class="mb-0" style="color: #1e6bbd;">сегодня проходят обучение в&nbsp;университете.</h5>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-1 order-sm-1 order-md-1 order-lg-2 order-xl-2">
                    <p>Ухтинский университет поддерживает партнерские отношения с&nbsp;десятками зарубежных
                        образовательных, научных, производственных организаций.</p>
                    <p>В&nbsp;УГТУ действует целый ряд международных программ, предполагающих стажировки студентов
                        и&nbsp;преподавателей за&nbsp;рубежом, совместные научные и&nbsp;образовательные проекты.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>