{% comment %}<!--                             /
                      __       //
                      -\~,\=\ //
                    --=_\=---//=
                  -_ =/  \/ //\/
                  _,~/   |_   _|\,
     __          ,/_/    \' | `/_
    //\\          /       | | |\_
   /(\ _\________/        (,_,)`
  J(\_/                       \
 ,)\/     v                \   |
 / Y      (         Y       | /J
(7 |       \        |       '/ \
'| (       /\_______\_     _Y_  \
 'Y \     / \     7   \   /   \  \
 ',) (   /   )   /    |  /    (  )
   '~(  )   / __/     i J     / /
     \  /   \ \       | |   _/ /
     | |     )_\_     )_\_/__\/
     /_\     |___\    |___\
    (___)

Я — единорог Борис. Приветствую тебя в моём жилище.
Прошу к столу, сегодня я варил суп из морковки.
А ещё делал сайт для приёмной комиссии.
Хочешь посмотреть? Жми F12.

Кстати если ты меня видишь - у тебя хорошие шансы поступить на «Информационные системы и технологии» 😉

-->{% endcomment %}

<!-- Design & Dev — CrazyGarry | https://vk.com/crazy_garry -->