<div id="contacts">
    <iframe class="embed-responsive-item"
            style="position:absolute; z-index:1;"
            src="https://yandex.ru/map-widget/v1/?um=constructor%3A1191accf115db2fe10bd1ea14f58489f9562f1ac640cca402566cc5260ff0486&amp;source=constructor"
            width="100%" height="600" frameborder="0"></iframe>

    <div class="container pt-5" style="position: relative; z-index:2; height: 600px">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5" style="background-color: white;">
                <div class="p-4">
                    <h1>Контакты</h1>
                    <small>Федеральное государственное бюджетное образовательное учреждение высшего образования
                        «Ухтинский государственный технический университет»
                    </small>
                    <p></p>
                    <p><b>Республика Коми, г. Ухта, ул. Первомайская, д. 13</b></p>
                    <p></p>
                    <p>Телефон приёмной комиссии:<br>
                        <b><span class="text-muted">+7 (8216)</span> 700-295, 700-317, 774-485, 774-406</b>
                    </p>
                    <p></p>
                    <p>Профориентатор УГТУ:<br>
                        <a href="https://vk.com/prof_ugtu" target="_blank" style="font-size: 25px"><i class="fab fa-vk"></i></a>
                    </p>
                    <p></p>
                    <p>Абитуриент УГТУ:<br>
                        <a href="https://vk.com/a.ugtu" target="_blank" style="font-size: 25px"><i class="fab fa-vk"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>