<div class="modal fade" id="modal_main_form_success" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0 rounded-0 p-3">
            <!--<div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Оставить заявку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>-->
            <div class="modal-body d-flex d-flex justify-content-center flex-column ">
                <p>Ваша заявка отправлена, вам позвонят в удобное для вас время. Спасибо за интерес к нашему вузу!</p>
                <p></p>
                <button class="btn btn-outline-primary" data-dismiss="modal">Спасибо, буду ждать звонка</button>
            </div>
        </div>
    </div>
</div>

{% comment %}<div class="modal fade about-igntt-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Об институте</h5>
                <a href="https://www.ugtu.net/obrazovanie/uchebnyye_podrazdeleniya/igntt" target="_blank"
                   class="btn btn-light btn-sm ml-3">На сайт</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    ИГНиТТ – ровесник Ухтинского университета. История института геологии, нефтегазодобычи и
                    трубопроводного
                    транспорта началась в далеком 1967 году с Приказа № 295 Министерства высшего и среднего специального
                    образования РСФСР от 16 июня 1967 года, на основании которого в тогда еще Ухтинском индустриальном
                    институте был создан нефтегазопромысловый факультет.</p>
                <p>Сегодня ИГНиТТ – инновационное образовательное подразделение, полностью отвечающее технической и
                    отраслевой направленности Ухтинского вуза. </p>

            </div>
        </div>
    </div>
</div>


<div class="modal fade about-sti-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Об институте</h5>
                <a href="https://www.ugtu.net/obrazovanie/uchebnyye_podrazdeleniya/sti" target="_blank"
                   class="btn btn-light btn-sm ml-3">На сайт</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Выпускники строительного факультета всегда нужны стране, всегда востребованы. Эта востребованность
                    обеспечивается не только наличием учебно-методической и научно-производственной базы,
                    учебно-вычислительным центром, современным парком компьютерной и мультимедийной техники,
                    межкафедральных лабораторий и научно-исследовательских центров факультета, но и наличием
                    квалифицированных кадров.</p>

            </div>
        </div>
    </div>
</div>


<div class="modal fade about-ineuiit-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Об институте</h5>
                <a href="https://ineuiit.ugtu.net/resource/direkciya/" target="_blank"
                   class="btn btn-light btn-sm ml-3">На сайт</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Институт экономики, управления и информационных технологий образован 1 сентября 2014 года путем
                    объединения Института экономики и управления и факультета информационных технологий. В 2013 г. ИнЭУ
                    был создан на базе факультета экономики и управления, когда к нему присоединили факультет
                    гуманитарного образования. Сегодня ИнЭУиИТ является самым диверсифицированным институтом УГТУ,
                    выпуская специалистов для шести различных сфер деятельности: экономика, менеджмент, информационные
                    технологии, реклама и связи с общественностью и документоведение. Все направления подготовки прошли
                    испытание временем и являются востребованными на современном рынке труда.</p>

            </div>
        </div>
    </div>
</div>


<div class="modal fade about-iispo-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Об институте</h5>
                <a href="https://www.ugtu.net/university/faculties/ii" target="_blank"
                   class="btn btn-light btn-sm ml-3">На сайт</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Индустриальный институт (СПО) образован 01 сентября 2014 года путем объединения:<br>
                    -Горно-нефтяного колледжа;<br>
                    -Промышленно-экономического лесного колледжа;<br>
                    -Индустриального техникума.
                </p>
                Основными функциями Института являются:<br>
                -Планирование, создание и реализация на базе института единой системы подготовки кадров по основным
                профессиональным образовательным программам среднего профессионального образования в соответствии с
                федеральными государственными образовательными стандартами, с политикой в области качества
                научно-образовательной деятельности УГТУ;<br>
                -Обеспечение высокого качества подготовки обучающихся, определяемого уровнем их профессиональных
                компетенций и их конкурентоспособности на внутреннем и внешнем рынках образовательных услуг.
                </p>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="o070301" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_94569" style="z-index: 2000"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_94569", "@ustu_official-arhitektora");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo080118" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_106009"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_106009", "@ustu_official-080118-elektromontazhnik-elektricheskih-setei-i-elektrooboru");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo130211" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_105216"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_105216", "@ustu_official-130211-tehnicheskaya-ekspluataciya-i-obsluzhivanie-elektrich");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo460201" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_105215"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_105215", "@ustu_official-460201-dokumentacionnoe-obespechenie-upravleniya-i-arhivoved");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo210101" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_103882"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_103882", "@ustu_official-210101-operator-neftyanyh-i-gazovyh-skvazhin-spo");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo180133" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_103619"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_103619", "@ustu_official-180133-laborant");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo080125" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_103618"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_103618", "@ustu_official-master-otdelochnyh-stroitelnyh-i-dekorativnyh-rabot");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo380201" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_102499"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_102499", "@ustu_official-380201-ekonomika-i-buhgalterskii-uchet");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo350202" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_102342"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_102342", "@ustu_official-350202-tehnologiya-lesozagotovok-spo");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo350203" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_102340"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_102340", "@ustu_official-350203-tehnologiya-derevoobrabotki");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo230204" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_102336"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_102336", "@ustu_official-230204-tehnicheskaya-ekspluataciya");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo220206" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_101596"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_101596", "@ustu_official-svarochnoe-proizvodstvo");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo230103" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_101597"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_101597", "@ustu_official-230103-tehnicheskoe-obsluzhivanie-i-remont");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo210203" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_101595"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_101595", "@ustu_official-210203-sooruzhenie-i-ekspluataciya");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo210202" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_101591"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_101591", "@ustu_official-210202-bs");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo210201" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_101187"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_101187", "@ustu_official-rengm-spo");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo180209" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_101186"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_101186", "@ustu_official-pererabotka-nefti-i-gaza-spo");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo090204" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_99998"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_99998", "@ustu_official-090204-informacionnye-sistemy-spo");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo150201" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_100215"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_100215", "@ustu_official-150201-montazh-i-tehnicheskaya-ekspluataciya-promyshlennogo");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spo080201" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_99730"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_99730", "@ustu_official-080201-siezis");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mag350402" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_99628"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_99628", "@ustu_official-350402-tehnologiya-lesozagotovitelnyh-i-derevopererabatyvaus");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak080301" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_99558"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_99558", "@ustu_official-080301-stroitelstvo-bakalavriat");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spec210506" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_99135"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_99135", "@ustu_official-210506-neftegazovye-tehnika-i-tehnologii-specialitet");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spec210502" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_112951"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_112951", "@ustu_official-210502-prikladnaya-geologiya2");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak050306" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_98043"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_98043", "@ustu_official-ecoprirodo-bakalavriat");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spec210503" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_113159"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_113159", "@ustu_official-210503-tehnologiya-geologicheskoi-razvedki1");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mag210401" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_97821"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_97821", "@ustu_official-neftegazovoe-delo-magistratura");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak210301" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_113386"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_113386", "@ustu_official-210301-neftegazovoe-delo1");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak270301" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_110636"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_110636", "@ustu_official-270301-standartizaciya-i-metrologiya1");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak210302" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_110350"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_110350", "@ustu_official-210302-zemleustroistvo-i-kadastry1");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="spec210504" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109582"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109582", "@ustu_official-210504-gornoe-delo");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak420301" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109563"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109563", "@ustu_official-420301-reklama-i-svyazi-s-obschestvennostu");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak380302" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109562"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109562", "@ustu_official-380302-menedzhment");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak380301" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109560"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109560", "@ustu_official-380301-ekonomika");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak230303" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109558"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109558", "@ustu_official-230303-ekspluataciya-transportno-tehnologicheskih-mashin-i-k");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak150302" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109534"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109534", "@ustu_official-150302-tehnologicheskie-mashiny-i-oborudovanie");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak130302" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_111833"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_111833", "@ustu_official-130302-elektroenergetika-i-elektrotehnika1");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak460302" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109530"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109530", "@ustu_official-460302-dokumentovedenie-i-arhivovedenie");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak090302" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109529"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109529", "@ustu_official-090302-informacionnye-sistemy-i-tehnologii");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak090301" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109527"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109527", "@ustu_official-090301-informatika-i-vychislitelnaya-tehnika");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bak350302" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109526"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109526", "@ustu_official-350302-tehnologiya-lesozagotovitelnyh-i-derevopererabatyvaus");
                </script>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mag200401" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0 rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">О направлении</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- VK Widget -->
                <div id="vk_article_-174918845_109390"></div>

                <script type="text/javascript">
                    VK.Widgets.Article("vk_article_-174918845_109390", "@ustu_official-200401-tehnosfernaya-bezopasnost");
                </script>
            </div>
        </div>
    </div>
</div>{% endcomment %}