<div class="container pb-5 pt-5" id="whyus">
    <div class="row mb-5">
        <div class="col-12">
            <h3>Приёмная комиссия УГТУ начисляет дополнительные баллы за&nbsp;ваши индивидуальные достижения: *</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-medal fa-3x pk-color-blue"></i></div>
            <div class="ml-3 mr-2 d-flex flex-column">
                <h5 class="mb-1">За заслуги в спорте</h5>
                <p class="mb-0 text-muted font-weight-bold">от 1 до 2 баллов</p>
            </div>
            <div class="ml-auto pt-1">
                <a role="button" tabindex="0" data-toggle="popover" data-trigger="focus" style="cursor: pointer"
                   data-content="Наличие статуса чемпиона и призера Олимпийских игр, Паралимпийских игр и Сурдлимпийских
                   игр, чемпиона мира, чемпиона Европы, победителя первенства мира, первенства Европы по видам спорта,
                   включенным в программы Олимпийских игр, Паралимпийских игр и Сурдлимпийских игр, наличие серебряного
                   и (или) золотого значка, полученного за результаты сдачи норм физкультурного комплекса «Готов к
                   труду и обороне» и удостоверения к нему установленного образца: золотой знак ГТО — 2 балла;
                   серебряный знак ГТО — 1 балл.">
                    <i class="far fa-question-circle pk-color-gray"
                       style="font-size: 1.55em;"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-book-open fa-3x pk-color-blue"></i></div>
            <div class="ml-3 mr-2 d-flex flex-column justify-content-center">
                <h5 class="mb-1">Аттестат с отличием</h5>
                <p class="mb-0 text-muted font-weight-bold">от 8 до 10 баллов</p>
            </div>
            <div class="ml-auto pt-1">
                <a role="button" tabindex="0" data-toggle="popover" data-trigger="focus" style="cursor: pointer"
                   data-content="Наличие аттестата о среднем общем образовании с отличием, или аттестата о среднем
                   (полном) общем образовании для награжденных золотой медалью — 10 баллов; наличие аттестата о среднем
                   (полном) общем образовании для награжденных серебряной медалью — 8 баллов.">
                    <i class="far fa-question-circle pk-color-gray"
                       style="font-size: 1.55em;"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-graduation-cap fa-3x pk-color-blue"></i></div>
            <div class="ml-3 mr-2 d-flex flex-column justify-content-center">
                <h5 class="mb-1">Диплом СПО с отличием</h5>
                <p class="mb-0 text-muted font-weight-bold">8 баллов</p>
            </div>
            <div class="ml-auto pt-1">
                <a role="button" tabindex="0" data-toggle="popover" data-trigger="focus" style="cursor: pointer"
                   data-content="Наличие диплома о среднем профессиональном образовании с отличием — 8 баллов.">
                    <i class="far fa-question-circle pk-color-gray"
                       style="font-size: 1.55em;"></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-chess-rook fa-3x pk-color-blue"></i></div>
            <div class="ml-3 mr-2 d-flex flex-column">
                <h5 class="mb-1">Участие в предметной олимпиаде школьников УГТУ</h5>
                <p class="mb-0 text-muted font-weight-bold">от 2 до 4 баллов</p>
            </div>
            <div class="ml-auto pt-1">
                <a role="button" tabindex="0" data-toggle="popover" data-trigger="focus" style="cursor: pointer"
                   data-content="Участие и (или) результаты участия поступающих в предметной олимпиаде школьников УГТУ:
                   победитель 4 балла; призер — 3 балла; лауреат — 2 балла.">
                    <i class="far fa-question-circle pk-color-gray"
                       style="font-size: 1.55em;"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-fire fa-3x pk-color-blue"></i></div>
            <div class="ml-3 mr-2 mr-2 d-flex flex-column">
                <h5 class="mb-1">Участие в отраслевой олимпиаде школьников ПАО «Газпром»</h5>
                <p class="mb-0 text-muted font-weight-bold">от 2 до 6 баллов</p>
            </div>
            <div class="ml-auto pt-1">
                <a role="button" tabindex="0" data-toggle="popover" data-trigger="focus" style="cursor: pointer"
                   data-content="За участие и (или) результаты участия поступающих в отраслевой олимпиаде школьников
                   ПАО «Газпром»: победитель — 6 баллов; призер и лауреат — 4 балла; участник очного этапа — 2 балла.">
                    <i class="far fa-question-circle pk-color-gray"
                       style="font-size: 1.55em;"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-pencil-ruler fa-3x pk-color-blue"></i></div>
            <div class="ml-3 mr-2 d-flex flex-column">
                <h5 class="mb-1">Участие в Школе инженерных кадров</h5>
                <p class="mb-0 text-muted font-weight-bold">4 балла</p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-landmark fa-3x pk-color-blue"></i></div>
            <div class="ml-3 d-flex flex-column">
                <h5 class="mb-1">Участие в Школе Архитектора</h5>
                <p class="mb-0 text-muted font-weight-bold">4 балла</p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-burn fa-3x pk-color-blue"></i></div>
            <div class="ml-3 d-flex flex-column">
                <h5 class="mb-1">Участие в элективных курсах нефтегазового дела</h5>
                <p class="mb-0 text-muted font-weight-bold">4 балла</p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fas fa-hands-helping fa-3x pk-color-blue"></i></div>
            <div class="ml-3 mr-2 d-flex flex-column">
                <h5 class="mb-1">За волонтёрскую деятельность</h5>
                <p class="mb-0 text-muted font-weight-bold">1 балл</p>
            </div>
            <div class="ml-auto">
                <a role="button" tabindex="0" data-toggle="popover" data-trigger="focus" style="cursor: pointer"
                   data-content="За осуществление волонтерской (добровольческой) деятельности (если с даты завершения
                   периода осуществления указанной деятельности до дня завершения приема документов и вступительных
                   испытаний прошло не более четырёх лет) – 1 балл.">
                    <i class="far fa-question-circle pk-color-gray"
                       style="font-size: 1.55em;"></i>
                </a>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-5 d-flex justify-content-start">
            <div class="pt-1"><i class="fab fa-accessible-icon fa-3x pk-color-blue"></i></div>
            <div class="ml-3 mr-2 d-flex flex-column">
                <h5 class="mb-1">Победителю чемпионата по&nbsp;профессиональному мастерству «Абилимпикс»</h5>
                <p class="mb-0 text-muted font-weight-bold">3 балла</p>
            </div>
            <div class="ml-auto pt-1">
                <a role="button" tabindex="0" data-toggle="popover" data-trigger="focus" style="cursor: pointer"
                   data-content="Наличие у поступающих статуса победителя чемпионата по профессиональному мастерству
                   среди инвалидов и лиц с ограниченными возможностями здоровья «Абилимпикс».">
                    <i class="far fa-question-circle pk-color-gray"
                       style="font-size: 1.55em;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-muted">* при приеме на&nbsp;обучение по&nbsp;программам бакалавриата, программам специалитета
                поступающему начисляется за&nbsp;индивидуальные достижения не&nbsp;более 10&nbsp;баллов суммарно.</p>
        </div>
    </div>
</div>
{% comment %}<div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x mb-3">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-medal fa-stack-1x fa-inverse"></i>
          </span>
            <h4 class="mb-2">ГТО</h4>
            <p class="text-muted">За наличие серебряного или золотого значка, полученного за результаты сдачи норм
                физкультурного комплекса «Готов к труду и обороне» приёмная комиссия начисляет дополнительные баллы.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x mb-3">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>
          </span>
            <h4 class="mb-2">За заслуги в спорте</h4>
            <p class="text-muted">За наличие статуса чемпиона и призёра Олимпийских игр, Паралимпийских игр,
                Сурдлимпийских игр, чемпиона мира или Европы, победителя первенства мира, первенства Европы по видам
                спорта включённым в программы Олимпийских игр приёмная комиссия начисляет дополнительные баллы.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x mb-3">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-fire fa-stack-1x fa-inverse"></i>
          </span>
            <h4 class="mb-2">За участие в олимпиаде</h4>
            <p class="text-muted">За участие и (или) результаты участия поступающих в отраслевой олимпиаде школьников
                ПАО «Газпром», приёмная комиссия начисляет дополнительные баллы.</p>
        </div>
    </div>{% endcomment %}
</div>