{% extends 'vrbase.html' %}

{% block body %}
    {% load staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="{% static 'img/ugtu.svg' %}" width="80" height="80" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Меню
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="ml-auto d-flex flex-column justify-content-end">
                <ul class="navbar-nav text-uppercase font-weight-bold ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">О вузе</a>
                    </li>
                    {% comment %}<li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#institutes">Институты</a>
                </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#whyus">Почему к нам</a>
                    </li>{% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#ourmission">Наша миссия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#napr">Направления</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#mainform">Подать документы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contacts">Контакты</a>
                    </li>
                </ul>

                <div class="ml-auto mt-1 pr-2">
                    {% comment %}<small><a class="text-secondary" href="https://vk.com/prof_ugtu" target="_blank"><i class="fab fa-vk text-black-50"></i> Профориентатор</a></small>{% endcomment %}
                    {% comment %}<small><a class="text-secondary ml-2" href="https://www.instagram.com/prof_ugtu" target="_blank"><i class="fab fa-instagram text-black-50"></i> Профориентатор</a></small>{% endcomment %}
                    <small><a class="text-secondary ml-2" href="https://vk.com/ustu_official" target="_blank"><i class="fab fa-vk text-black-50"></i> Оф. группа УГТУ</a></small>
                    <small><a class="text-secondary ml-2" href="https://vk.com/a.ugtu" target="_blank"><i class="fab fa-vk text-black-50"></i> Абитуриент</a></small>
                    {% comment %}<small><a class="text-secondary ml-2" href="https://pk.ugtu.net/" target="_blank"><i class="fas fa-external-link-alt text-black-50"></i> Сайт приёмной комиссии</a></small>{% endcomment %}
                </div>
            </div>
        </div>
    </div>
</nav>
    <header class="vrmasthead">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-6 intro-text">
                <h5 class="mb-4" style="color: rgba(255, 255, 255, 0.8)!important;">Институт дополнительного профессионального образования</h5>
                <h1>Центр Виртуальных Лабораторий И VR Тренажеров</h1>
                {% comment %}<a class="btn btn-primary-red btn-lg mt-5 js-scroll-trigger rounded-0 border-0" href="#mainform">Подать
                    заявку онлайн</a>{% endcomment %}
            </div>
        </div>
    </div>
</header>
{% endblock %}
